/* Allows thinner sidebar */
#sidebar {
  min-width: 50px !important;
}

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
.browserContainer {
    background-color: #000 !important;
}


/* Dark Theme for Sidebar */
#sidebar-box {
	background-color: hsl(240, 7%, 5%) !important;
}

toolbarbutton[checked="true"]:not([disabled="true"]) {
	color: inherit !important;
}

#sidebar-header, .sidebar-splitter {
	/*border-color: hsl(240, 3%, 20%) !important;*/
	border-color: #272a2e !important;
}

.sidebar-placesTree {
	color: #aaa !important;
}


.panel-subview-body {
  scrollbar-color:  rgb(119,136,153) rgb(17,17,17);
  scrollbar-width: thin;
}
#permList, scrollbar {
  scrollbar-color:  rgb(119,136,153) rgb(17,17,17);
  scrollbar-width: thin;
}

#sidebar-splitter { min-width: 1px !important; max-width: 1px !important; color: #000; }



#context-navigation, #context-sep-navigation, #context-savepage, #context-pocket, #context-sep-sendpagetodevice, #context-sendpagetodevice, #context-sep-viewbgimage, #context-view-bgimage, #context-selectall, #context-sep-viewsource { 
    display: none !important 
}

#context-sep-viewbgimage, #inspect-separator, #context-viewsource, #context-viewinfo, #context-inspect, #context-viewbgimage, #_5df6e133-f35d-4c62-885a-56387df22f6b_-menuitem-5 {
    -moz-box-ordinal-group: 2 !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#PersonalToolbar { 
	visibility: collapse;
	transition: visibility 0.25s ease-out 0.2s !important;
}
#main-window[title^="New Tab"] #PersonalToolbar, 
#main-window[title="New Tab"] #PersonalToolbar, 
#main-window[title="Nightly"] #PersonalToolbar,
#main-window[title="Nightly Start Page - Nightly"] #PersonalToolbar, 
#main-window[title="Mozilla Firefox"] #PersonalToolbar { 
	visibility: visible !important;
	transition: visibility 1.3s ease-in 1.2s !important;
}




/*
:root {
	--sidebar-width: 330px;
	--toolbar-height: -26px;
	--menubar-height: -30px;
	--toolmenubar-height: -55px; /* sum of previous two */
}
/*
/* show bookmarks toolbar on new tab only */
#main-window #PersonalToolbar {
	visibility: collapse !important;
	z-index: 1!important;
	position: relative!important;
	margin-left: var(--sidebar-width); /* shift toolbar to the right out of the way of the sidebar */
	margin-top: var(--toolbar-height) !important;
}

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
	visibility: visible !important;
	margin-top: -1px !important;
}
*/
/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
	z-index: 1000 !important;
	position: relative!important;
	margin-top: var(--menubar-height) !important;
	/* border-right: 1px solid #ccc; */
}

/* lock sidebar to specified width */
#sidebar-box, #sidebar-box #sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
}

toolbar#nav-bar {
	padding-top: 12px;
	padding-bottom: 7px;
	margin-left: var(--sidebar-width);
	padding-left: 7px;
}
*/
