@-moz-document url-prefix(about:blank), url-prefix(about:newtab) {
html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
background: #000000 !important;
}
}
@-moz-document url(about:newtab),
url(about:home) {
body{
background-color:#000000!important;
color:#D1D1D1!important;
}
.card,
.prefs-pane .sidebar {
background-color:#232323!important;
}
#snippets,
.section-title,
.snippetContainer {
color: #AEAEAE!important;
}
.contentSearchSuggestionTable,
.contentSearchSuggestionsList{
color:black!important;
}
.display-item {color: #D1D1D1!important;}
#aboutMozilla::before {filter:invert(100%)!important;}
#searchText{
background:#474749!important;
border-radius: 4px;
border: 1px solid #3d3d3d;
box-shadow: none;
}
#searchSubmit,
#launcher {display:none!important;}
}


:root {
/*  scrollbar-color: rgb(119,136,153) rgb(17,17,17);*/
	scrollbar-color: rgb(119,119,119) rgb(17,17,17);
}
*{
  scrollbar-width: thin;
}
@-moz-document url-prefix("about:") {
  xul|page,
  xul|scrollbar {
/*    scrollbar-color: rgb(119,136,153) rgb(17,17,17);*/
	scrollbar-color: rgb(119,119,119) rgb(17,17,17);
    scrollbar-width: thin;
}
}
