.card {
 font-family: Roboto;
 width: 800px;
 font-size: 20px;
 font-weight: normal;
 text-align: left;
 margin-left: 25%;
 margin-right: 25%;
 color: black;
 background-color: white;
}
.mobile .card { margin: auto; width: auto; }
hr#answer { border: 0; border-bottom: 1px solid #444; }

b { color: #3ccd98; }
u { text-decoration: none; font-weight: bold; color: #d45fe6;} /* UNDERLINE STYLE */
i  { color: #e6be43; } /* ITALICS STYLE */
/* a { color: LightGray !important; text-decoration: none; font-size: 10px; font-style: normal; } /* LINK STYLE */ */

.card.night_mode {
 color: white;
 background-color: #000000;
}

.night_mode img {filter: invert(1) hue-rotate(180deg);}

img {
 max-height: 600px; display: block; align: center; margin: 0 auto;
/* This line makes image centered when aligned div is used (in front/back templates): */
 margin-left: 50%; transform: translateX(-50%);
}
.mobile img {
 max-height: 400px;
 display: block; margin-left: auto; margin-right: auto;
 transform: translateX(0%);
}
