/* tab colors */
.tab[data-current-uri^="moz-extension://16e5b4d7-3436-41cd-9a51-c220194faf24/resources/group-tab.html"] {
  background-color: #000;
#  height: 28px;
}

.tab[data-current-uri^="https://worker.mturk.com"] {
  background-color: #440; }

.tab[data-current-uri^="https://gatech.instructure.com"] {
  background-color: #030; }

.tab[data-current-uri^="https://gatech.instructure.com"]
 .label-content {color: #9f9}
.tab[data-current-uri*="macmillanhighered"]
 .label-content {color: #9f9}
.tab[data-current-uri^="https://learningcatalytics.com"]
 .label-content {color: #9f9}

.tab[data-current-uri*="wileyplus.com"] {
  background-color: #430; }

.tab[data-current-uri*="app.tophat.com"] {
  background-color: #430; }

.tab[data-current-uri*="www.reddit.com"] {
  background-color: #004; }

.tab[data-current-uri^="https://www.google.com/search?"] {
  background-color: #303; }

.tab[data-current-uri*="www.youtube.com"] {
  background-color: #400; }

.tab[data-current-uri^="about:"] {
  background-color: #2e313d; }

.tab.unread .label-content {
#  font-style: italic;
  color: #e88 }

.tab.last-active {
# background-color: #864 !important;
  filter: contrast(0.8) brightness(1.4);
}

.tab.last-active .label-content {
  color: #88f;
}


:root.left #tabbar {
  direction: ltr;
  overflow-x: hidden;
}


/* As little space before the tab name as possible.
   The fold/unfold icon is not affected. */
.tab:not(.pinned) {
  padding-left: 4px !important; /* !important is required when there are enough tabs to cause a scrollbar */
/*  padding-right: 19px !important; WAS USED FOR TAB NUMBERING*/
}

#tabbar {
  background: #000
}

.tab {
  height: 22px;
  border: none;
  background: #28292e
}

.tab.discarded {
  opacity: 0.6
}

.tab.discarded:hover {
  filter: contrast(.65) brightness(1.5);
}

.tab.active {
  filter: contrast(0.7) brightness(1.4);
  height: 32px;
}

.tab:not(:hover) .closebox {
  display: none;
}

.tab:hover {
  filter: contrast(.6) brightness(1.5);
}

.newtab-button {
  height: 25px;
}

/* TAB TEXT ADJUSTMENT */

tab-item .label-content {
#  font-family: Dejavu Sans Condensed;
#  font-family: Iosevka Aile;
  font-family: Segoe UI;
  font-size: 14px;
}

tab-item.active .label-content {
  font-size: 14.5px;
#  color: #aaf
}

/*tab counting*/

.newtab-button::after {
  content: var(--tab-count-text);
  pointer-events: none;
  position: absolute;
/*  right: 1.5em;*/
  left: 1.9em;
  bottom: 0.2em;
  color: #eee;
  font-family: Segoe UI;
  font-size: 11pt;
  /* TST 2.4.0 - Fix for Issue #1664 */
  background: transparent !important;
  mask: none !important;
}

#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
.tab:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
.tab:not(.collapsed) {
  counter-increment: vtabs tabs;
}
.tab:not(.discarded) {
  counter-increment: atabs tabs;
}
.tab {
  counter-increment: tabs;
}#sidebar {
  min-width: 100px !important;
}

.newtab-button {
  --tab-count-text: ""counter(atabs) " / " counter(tabs) "";
}

/* COMMENTED
.tab .extra-items-container {
  z-index: unset !important;
}
.tab .extra-items-container::after {
  color: HighlightText;
  content: counter(tabs);
  font-size: 9pt;
  font-family: open sans condensed;
  right: .35em;
  opacity: 1;
  padding: 0.3em;
  pointer-events: none;
  position: absolute;
  bottom: 0.15em;
  z-index: 1000;
}
COMMENT END */

.tab.active .extra-items-container::after {
  bottom: 0.66em;
}

#tabbar .newtab-button {
  background: #232323;
  color: #888;
  border: none;
}

/* Hide the favicon on new tabs. */
tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) tab-favicon {
  visibility: hidden;
}

tab-item tab-twisty {
  margin-right: -0.8em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* Make borders between tabs less noticeable ("none" leaves bright) */
tab-item {
  border: solid 1px #00000044 !important;
}
